body {
  background-color: LightSkyBlue;
}

.App {
  width: 25rem;
  background-color: White;
  text-align: center;
  margin: auto;
  margin-top: 3rem;
  padding: 1rem;
}

.App button {
  width: 20rem;
  height: 2rem;
  font-weight: bold;
  font-size: 1rem;
}

.App .Criteria {
  width: 22rem;
  margin:auto;
  text-align: left;
  color: rgb(144, 144, 144);
}